@charset "utf-8";

html {
	background-color: #1e2025;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto';
	font-weight: 100;
}

.fadeInLeft {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}